{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h3 class="mb-4">Dashboard</h3>

<div class="row g-4">

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h6>Total Users</h6>
                <h3>{{ users_count }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h6>Total Tasks</h6>
                <h3>{{ tasks_count }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h6>Completed Tasks</h6>
                <h3>{{ completed_tasks }}</h3>
            </div>
        </div>
    </div>

</div>
{% endblock %}
